@model POS1.Models.DashboardMetricsViewModel
@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--<section id="container">-->
<div class="head-title">
	<div class="left">
		<h1>Dashboard</h1>
		<ul class="breadcrumb">
			<li>
				<a href="#">Dashboard</a>
			</li>
			<li><i class='bx bx-chevron-right'></i></li>
			<li>
				<a class="active" href="#">Home</a>
			</li>
		</ul>
	</div>
	<a href="#" class="btn-download">
		<i class='bx bxs-cloud-download'></i>
		<span class="text">Download PDF</span>
	</a>
</div>
<!--Display Key Metrics-->
<div class="row">
	<ul class="box-info">
		<li>
			<i class='bx bxs-calendar-check'></i>
			<span class="text">
				<h3>@Model.DailySales</h3> <!--Count New Orders-->
				<p>Orders Today</p>
			</span>
		</li>
		<li>
			<i class='bx bxs-group'></i>
			<span class="text">
				<h3>@Model.CustomerCount</h3> <!--Count Customers-->
				<p>Customers</p>
			</span>
		</li>
		<li>
			<i class='bx bxs-dollar-circle'></i>
			<span class="text">
				<h3>@Model.TotalSales</h3>
				<p>Total Sales</p> <!--Count Total Sales-->
			</span>
		</li>
	</ul>
</div>

<div class="row">

	<ul class="box-info">
		<li>
			<div class="col-md-3">
				<h4>Sales Summary</h4>
				<ul>
					@* <li>Daily: @Model.DailySales</li> *@
					<li>Weekly: @Model.WeeklySales</li>
					<li>Monthly: @Model.MonthlySales</li>
					<li>Yearly: @Model.YearlySales</li>
					@* <li>Total: @Model.TotalSales</li> *@
				</ul>
			</div>
		</li>

		<li>
			<div class="col-md-3">
				<h4>Top Products</h4>
				<ul>
					@foreach (var product in Model.TopProducts)
					{
						//<li>@product.Name</li>
					}
				</ul>
			</div>
		</li>

		<li>
			<div class="col-md-3">
				<h4>Top Categories</h4>
				<ul>
					@foreach (var category in Model.TopCategories)
					{
						<li>@category</li>
					}
				</ul>
			</div>
		</li>
	</ul>

	<div class="row">
		<ul class="box-info">
			<li>
				<div class="col-md-3">
					<h4>Payment Methods</h4>
					<ul>
						@foreach (var method in Model.PaymentMethods)
						{
							<li>@method</li>
						}
					</ul>
				</div>
			</li>

			<li>
				<div class="col-md-12">
					<h4>Order Statuses</h4>
					<ul>
						@foreach (var status in Model.OrderStatuses)
						{
							<li>@status</li>
						}
					</ul>
				</div>
			</li>
	</div>
	</ul>
